html
  head
    meta(charset="utf-8")
    title LOCK3R
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")
    script(src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js")
    script(src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js', integrity='sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://maps.google.com/maps/api/js?key=AIzaSyBErH2Qs7k65oVNmsy-nvXGk8vI0AKz3CA&language=ja')
    script(src="/js/main.js")
  body
    #loading
      #spinner.d-flex.justify-content-center.align-items-center
        .spinner-border.text-primary(role="status")
          .sr-only
    #nav.navbar.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href="/") LOCK3R
        button#connect-wallet-button.btn.btn-outline-info(onclick="onConnectWalletButtonClick()")
          | Connect Wallet
        span#nav-info-wallet.text-info
    #main-container.container-fluid.mx-auto
      .row
        .col-sm-6.mx-auto
          #info-box-account.card.mt-3
            .card-header
              | Account
            .card-body
              .mt-3
                label.form-label
                  | LOCK3R deposit balance
                .input-group
                  input#deposit-balance.form-control(type="number", readonly="true")
                  span.input-group-text
                    | MATIC
              .mt-3
                label.form-label(for="add-deposit-input")
                  | Add deposit
                .input-group
                  input#add-deposit-input.form-control(type="number")
                  span.input-group-text
                    | MATIC
                  button.btn.btn-outline-info(onclick="onAddDepositClick()")
                    | Add deposit                 
      .row
        #map-container.mt-3.d-flex.p-2
          #map
    .modal#locker-modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title
              span#locker-name
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            p#locker-fee
            p#locker-min-deposit
            input#locker-id(type='hidden')
            .mt-3#locker-start
              label.form-label
                | Transfer deposit and start using locker
              .input-group
                input#locker-deposit-input.form-control(type="number")
                span.input-group-text
                  | MATIC
                button.btn.btn-outline-info(onclick="onStartUsingLockerButtonClick()")
                  | Start
            .mt-3#locker-operation
              #locker-remaining-deposit
              .d-grid.gap-2.m-3
                button.btn.btn-outline-info(onclick="onUnlockButtonClick()")
                  | Unlock
              .d-grid.gap-2.m-3
                button.btn.btn-outline-info(onclick="onFinishUsingLockerButtonClick()")
                  | Finish
          .d-grid.gap-2.m-3
            button.button.btn.btn.btn-outline-secondary(type='button' data-bs-dismiss="modal") Close


